*{
    margin: 0;
    padding: 0;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.lobster{
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
              
                /* Shared Styles */

.display-flex{
    display: flex;
}

.title{
color: rgba(18, 18, 18, 1);
font-family: Inter;
font-size: 3.75rem;
font-weight: 700;
}

.description{
width: 921px;
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 400;
margin: 0 auto;
}

.btn{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-size: 1.6rem;
font-weight: 600;
padding: 21px 27px;
border-radius: 5px;
background:rgb(255, 89, 89, 1);
border-style: none;
}
                
                /* Web Page's Style Starts Here! */

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 173px;   
}
main{
  background: rgba(255, 255, 255, 1);
  flex-direction: column;
  gap: 173px;
}
header{
    width: 100%;
    height: 892px;
    background: linear-gradient(0.00deg, rgba(18.0625, 18.0625, 18.0625, 1),rgba(18.0625, 18.0625, 18.0625, 0.4) 100%), url('../asset/images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-title{
    width: 1102px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 5.4rem;
    font-weight: 700;
    margin-bottom: 26.5px;
}
.header-description{
    width: 921px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

          /* 'Donate Today' Section's Style */

.donate-today{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
    
}
.donate-today-title{
    margin-bottom: 26.5px;
}
.donate-today-description{
    color: rgba(112, 112, 112, 1);
    margin-bottom: 66.5px;
}
.donate-today-boxs{
justify-content: space-between;
/* align-items: center; */
margin-bottom:80px;
} 
 
.amount label{
  width: 180px;
  height: 164px; 
  color: rgba(112, 112, 112, 1);
  font-family: Inter;
  font-size:2.5rem;
  font-weight: 700;
  border-radius: 5px;
  background:rgba(250, 250, 250, 1) ;
  justify-content: center;
  align-items: center;
  border: 0;
}
.amount input{
  display: none;
}
.amount input:checked + label{
color: rgba(255, 89, 89, 1);
background-color: rgba(255, 238, 238, 1);
border: 2px solid rgba(255, 89, 89, 1);

}

.donation-amounts-input{
  border-bottom: 2px solid rgba(218, 218, 218, 1);
  padding-bottom: 12px;
  margin-bottom: 30px;
}
#custom-donation-amount{
  appearance: none;
  width: 256px;
  height: 37px;
  border-style: none;
}
input[name="custom-donation"]::placeholder{
color: rgba(179, 179, 179, 1);
font-family: Poppins;
font-size: 18px;
font-weight: 400;
text-align: center;
}

.donate-plan{
  width: 1520px;
  margin: 0 auto ;
}
.donate-plan-title{
margin-bottom: 26.5px;
text-align: center;
}
.donate-plan-description{
color: rgba(112, 112, 112, 1);
margin-bottom: 66.5px;
text-align: center;
}
.donate-plan-boxs{
  justify-content: space-between;
/* gap: 32px; */
}
.donate-plan-boxs-img{
  width: 70.5px;
  height: 70.5px;
  margin-bottom: 40px;
}
.donate-plan-boxs-title{ 
color: rgba(18, 18, 18, 1);
font-family: Poppins;
font-size: 2rem;
font-weight: 600;
margin-bottom: 21px;
}
.donate-plan-boxs-description{
color: rgba(112, 112, 112, 1);
font-family: Poppins;
font-size: 1.32rem;
font-weight: 400;
}
.donate-plan-box{
width: 480px;
height: 469px;
border-radius: 8px;
}
.donate-plan-box-content{
  margin: 84px 30.5px 72px;
}
#food{
  background: rgba(79, 157, 166, 0.1);
}
#shelter{
  background: rgba(255, 89, 89, 0.1) ;
}
#education{
  background: rgba(255, 244, 214, 1);
}

.donations-importance{
  width: 1380px;
  flex-direction: column;
  gap: 135px;
  margin-left: 208px;
}
.first-part{
  align-items: center;
  gap:110px ;
}
.first-part-text{
  width: 656px;
}
.second-part-text{
  width: 642.5px;
}
.second-part{
  flex-direction: row-reverse;
  align-items: center;
  gap: 125px;
}
.donations-importance-title{
  margin-bottom: 26.5px;
}
.donations-importance-description{
  color: rgba(112, 112, 112, 1);
  width: 642.5px;
  margin-bottom: 40px;
}
.donations-importance img{
  width: 608px;
  height:636px;
  border-radius: 8px;
}

.get-update{
  margin: 0 auto;
  text-align: center;
}
.get-update-title{
  margin-bottom: 26.5px;
}
.get-update-description{
  color: rgba(112, 112, 112, 1);
  margin-bottom: 66.5px;
}
.get-update-input{
  width: 1080px;
  height: 268px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 244, 214, 1);
}
.get-update-input input{
  height: 64px;
  border: 0;
}
#email-input{
width: 368px;
border-radius: 5px 0px 0px 5px;
background: rgba(217, 217, 217, 1);
}
#subscribe{
font-size: 1.2rem;
width: 210px;
text-align: center;
}
input[name="email"]::placeholder{
  padding-left: 23px;
}

footer{
  width: 100%;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}
.footer-title{
color: rgba(255, 89, 89, 1);
font-family: Lobster;
font-size: 3rem;
font-weight: 400;
}
.footnote{
color: rgb(224, 222, 222);
font-size: 0.9rem;
font-weight: 400;
}

@media screen and (max-width:576px) {
          

header{
  height: auto;
  background: linear-gradient(0.00deg, rgba(18.0625, 18.0625, 18.0625, 0.95),rgba(18.0625, 18.0625, 18.0625, 0.7) 100%), url('../asset/images/donation0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-title, .header-description{
  width: 90%;
  margin: 0 auto 30px ;
}
.header-btn{
  margin-bottom: 50px;
}


.donate-today{
  width: 100%;
}
.donate-today-title, .donate-today-description{
  width: 90%;
  margin: 0,auto;
}
.donate-today-boxs{
  flex-direction: column;
  gap: 30px;
}
.center{
  display: flex;
  justify-content: center;
}
.donate-today-btn{
  margin-bottom:20px ;
}


.donate-plan{
  width: 100%;
}
.donate-plan-title, .donate-plan-description{
  width: 90%;
  margin: 0 auto 40px;
  text-align: center;
}
.donate-plan-title{
  width: 80%;
}
.donate-plan-boxs{
  flex-direction: column;
  gap: 30px;
}
.donate-plan-box{
  width: 90%;
  height: auto;
  margin: 0 auto;
}


.donations-importance{
  width: 100%;
  gap: 80px;
  margin: 0;
}
.first-part,.second-part{
  flex-direction: column;
  gap: 50px;
}
.first-part-text, .second-part-text{
  width: 90%;
  margin: 0 auto;
}
.donations-importance-description{
  width: 90%;
  margin: 0 auto 40px;
}
.donations-importance img{
  width: 100%;
  height: auto;
}


.get-update{
  width: 100%;
}
.get-update-title, .get-update-description{
  width: 90%;
  margin:0 auto 40px ;
}
.get-update-input{
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
#email-input{
  width: 80%;
}
 #subscribe{
  width: 150px;
} 
footer{
  width: 100%;
  height: 150px;
}
}