*{
    margin: 0;
    padding: 0;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.lobster{
  font-family: "Lobster", sans-serif;
  font-style: normal;
}
              
                /* Shared Styles */

.display-flex{
    display: flex;
}

.title{
color: rgba(18, 18, 18, 1);
font-family: Inter;
font-size: 3.75rem;
font-weight: 700;
}

.description{
width: 921px;
color: rgba(255, 255, 255, 1);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 400;
margin: 0 auto;
}

.btn{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-size: 1.6rem;
font-weight: 600;
padding: 21px 27px;
border-radius: 5px;
background:rgb(255, 89, 89, 1);
border-style: none;
}
                
                /* Web Page's Style Starts Here! */

body{
    width: 100vw;   
}

header{
    width: 100%;
    height: 892px;
    background: linear-gradient(0.00deg, rgba(18.0625, 18.0625, 18.0625, 1),rgba(18.0625, 18.0625, 18.0625, 0.4) 100%), url('../asset/images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 173px;
}
.header-title{
    width: 1102px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 105px;
    margin-bottom: 26.5px;
}
.header-description{
    width: 921px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

          /* 'Donate Today' Section's Style */

.donate-today{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 173px;
}
.donate-today-title{
    margin-bottom: 26.5px;
}
.donate-today-description{
    color: rgba(112, 112, 112, 1);
    margin-bottom: 66.5px;
}
.donate-today-boxs{
height: 164px;
justify-content: space-between;
align-items: center;
margin:50px 0 80px;
} 
 
.amount label{
  /* width:180px ;
  height: 164px; */
  color: rgba(112, 112, 112, 1);
  font-family: Inter;
  font-size:2.5rem;
  font-weight: 700;
  border-radius: 5px;
  background:rgba(250, 250, 250, 1) ;
  padding: auto;
  border: 0;
}
.hundredtk{
  padding: 58.5px 30.5px;
}
.thousandtk{
  padding:58.5px 17.5px;
}
.amount input{
  display: none;
}
.amount input:checked + label{
color: rgba(255, 89, 89, 1);
background-color: rgba(255, 238, 238, 1);
border: 2px solid rgba(255, 89, 89, 1);

}

.donation-amounts-input{
  border-bottom: 2px solid rgba(218, 218, 218, 1);
  padding-bottom: 12px;
  margin-bottom: 30px;
}
#custom-donation-amount{
  appearance: none;
  width: 256px;
  height: 37px;
  border-style: none;
}
::placeholder{
color: rgba(179, 179, 179, 1);
font-family: Poppins;
font-size: 18px;
font-weight: 400;
text-align: center;
}

.donate-plan{
  width: 1520px;
  margin: 0 auto 130px;
}
.donate-plan-title{
margin-bottom: 26.5px;
text-align: center;
}
.donate-plan-description{
color: rgba(112, 112, 112, 1);
margin-bottom: 66.5px;
text-align: center;
}
.donate-plan-boxs{
gap: 32px;
}
.donate-plan-boxs-img{
  width: 70.5px;
  height: 70.5px;
  margin-bottom: 40px;
}
.donate-plan-boxs-title{ 
color: rgba(18, 18, 18, 1);
font-family: Poppins;
font-size: 2rem;
font-weight: 600;
margin-bottom: 21px;
}
.donate-plan-boxs-description{
color: rgba(112, 112, 112, 1);
font-family: Poppins;
font-size: 1.32rem;
font-weight: 400;
}
.donate-plan-box{
width: 480px;
height: 469px;
border-radius: 8px;
}
.donate-plan-box-content{
  margin: 84px 30.5px 0;
}
#food{
  background: rgba(79, 157, 166, 0.1);
}
#shelter{
  background: rgba(255, 89, 89, 0.1) ;
}
#education{
  background: rgba(255, 244, 214, 1);
}